@import '../../styles/variables.scss';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 16px;
  padding: 0px 16px;
  max-width: 800px;
  margin: 0 auto;

  @media (min-width: 800px) {
    padding: 0px;
  }
}

.panel {
  background-color: $white;
  width: 100%;
  @media (min-width: 800px) {
    max-width: 800px;
  }
}
