@import '../../styles/variables.scss';

.content {
  display: flex;
  margin: 0px 32px;
  justify-content: space-between;
  flex-direction: column;

  @media (min-width: 800px) {
    flex-direction: row;
  }

  > .product-image {
    padding: 32px 0px;
    max-width: 340px;
    margin: 0 auto;

    @media (min-width: 800px) {
      margin: 0;
    }
  }

  .buy-info-container {
    padding: 32px 0px;

    @media (min-width: 800px) {
      margin-left: 54px;

      > .title {
        width: 250px;
      }
    }

    > .title {
      font-size: 24px;
    }

    > .price {
      font-size: 46px;
      font-weight: normal;
      padding: 32px 0px;
    }

    > .button {
      width: 100%;
      background-color: #3483fa;
      color: #fff;
      height: 50px;
      border: 0px;
      border-radius: 5px;
      font-size: 14px;
      cursor: pointer;

      &:active {
        opacity: 0.5;
      }
    }

    > .sold-quantity {
      font-weight: normal;
      font-size: 14px;
      margin-bottom: 16px;
    }
  }
}

.description-container {
  padding: 32px 32px;

  > .description-title {
    margin-bottom: 32px;
    font-size: 28px;
    font-weight: normal;
  }
  > .description {
    font-size: 16px;
    font-weight: normal;
    color: #999999;

    @media (min-width: 800px) {
      width: 50%;
    }
  }
}
