@import '../../styles/variables.scss';

.searchbar {
  display: flex;
  flex-direction: row;
  width: 100%;

  > .search-input {
    font-size: 16px;
    width: 100%;
    height: 35px;
    padding: 8px;
  }
  > .button {
    width: 50px;
    border: 0px;
    border-radius: 0px 5px 5px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $light-gray;

    > .icon {
      position: absolute;
      width: 20px;
    }
  }
}
