@import '../../styles/variables.scss';

.header {
  height: 56px;
  background-color: $primary;
  display: flex;
  align-items: center;

  > .box {
    width: 800px;
    margin: 0 auto;
    display: flex;
    align-items: center;

    > .link {
      > .logo {
        width: 60px;
        height: 35px;
        margin-right: 16px;
      }
    }
  }
}
