@import '../../styles/animations.scss';
@import '../../styles/variables.scss';

.row {
  padding: 16px 32px 16px 16px;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid $light-gray;
  align-items: center;
  justify-content: space-between;
  animation-name: motion;
  animation-duration: 0.2s;
  animation-timing-function: ease-in-out;
  animation-delay: 0;
  opacity: 0;
  animation-fill-mode: forwards;

  @for $i from 1 through 4 {
    &:nth-child(#{$i}) {
      animation-delay: $i * 0.1s;
    }
  }

  > .content-box {
    flex-direction: row;
    display: flex;

    > .picture {
      max-width: 180px;
      max-height: 180px;
    }

    > .title-container {
      padding-left: 16px;
      display: flex;
      flex-direction: column;

      > .title {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 32px;

        > .price {
          font-size: 24px;
          font-weight: normal;
          color: $black;
        }

        > .free-shipping-icon {
          width: 20px;
          height: 20px;
          margin-left: 10px;
        }
      }

      > .subtitle {
        font-size: 18px;
        font-weight: normal;
        max-width: 550px;
        color: $black;
      }
    }
  }

  > .location {
    font-size: 12px;
    font-weight: normal;
    align-self: flex-start;
    color: $black;
  }
}
