.row {
  padding: 16px 32px 16px 16px;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #eee;
  align-items: center;
  justify-content: space-between;
  animation-name: basicMotion;
  animation-duration: 0.2s;
  animation-timing-function: ease-in-out;
  animation-delay: 0;
  opacity: 0;
  animation-fill-mode: forwards;

  &:nth-child(1) {
    animation-delay: 0.1s;
  }

  &:nth-child(2) {
    animation-delay: 0.2s;
  }

  &:nth-child(3) {
    animation-delay: 0.3s;
  }

  &:nth-child(4) {
    animation-delay: 0.4s;
  }

  > .content-box {
    flex-direction: row;
    display: flex;

    > .picture {
      max-width: 180px;
      max-height: 180px;
    }

    > .title-container {
      padding-left: 16px;
      display: flex;
      flex-direction: column;

      > .title {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 32px;

        > .price {
          font-size: 24px;
          font-weight: normal;
        }

        > .free-shipping-icon {
          width: 20px;
          height: 20px;
          margin-left: 10px;
        }
      }

      > .subtitle {
        font-size: 18px;
        font-weight: normal;
        max-width: 550px;
      }
    }
  }

  > .location {
    font-size: 12px;
    font-weight: normal;
    align-self: flex-start;
  }
}

@keyframes basicMotion {
  0% {
    transform: translateY(100px);
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
