@import '../../styles/variables.scss';

.nav {
  padding: 16px 16px;
  display: flex;
  margin: 0 auto;
  max-width: 800px;

  @media (min-width: 800px) {
    min-width: 800px;
    padding: 16px 0px;
  }

  > .list {
    display: flex;
    flex-direction: row;

    > .item {
      list-style: none;
      font-size: 14px;
      color: $gray;
      & + ::before {
        position: relative;
        content: '';
        display: inline-block;
        width: 6px;
        height: 6px;
        border-right: 1px solid $gray;
        border-top: 1px solid $gray;
        transform: rotate(45deg);
        margin: 0 8px;
      }
      &:last-child {
        color: $dark-gray;
        font-weight: bold;
      }
    }
  }
}
